{# templates/categorie/index.html.twig #}

{% extends 'security/base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom du produit</th>
                <th>prix</th>
                <th>quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.quantite }}</td>

                    <td>
                        <a href="{{ path('edit_produit', {'id': produit.id}) }}" class="btn btn-primary">Modifier</a>
                        {# Lien de suppression #}
                        <form action="{{ path('delete_produit', {'id': produit.id}) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <a href="{{ path('app_produit_creer_form') }}" class="btn btn-primary">Ajouter produit</a>
{% endblock %}
